body{
    background-color: rgb(219, 219, 219);
    margin: 0px;
    font-family: "Roboto";
    justify-content: center;
    align-items: center;
    }
    .poclugyText-own{
        width: 280px;
        font-size: 48px;
        border-bottom:  1px solid red;
        text-align: center;
    }
    .p-div{
        display: flex;
        justify-content: center;
    }
   
    .byx1{
        text-align: center;
        padding: 10px;
    }

    #themeToggle {
        background: transparent;
        color: black;
        width: 40px;
        height: 40px;
        font-size: 25px;
        border-radius: 40px;
        transition: 0.4s transform linear;
        margin: 10px;
        border-color: transparent;
    }
    
    #themeToggle:hover {
        transform: scale(1.8);
        transition: 0.4s transform linear;
        box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
    }
    
    #themeToggle:active {
        transform: scale(0.9);
        transition-duration: .2s;
    }

    body {
        background-color: white;
        color: black;
      }
      
    
      body.dark-theme {
        background-color: #333;
        color: white;
      }
      